@import url("http://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.nav {
    /* background: linear-gradient(180deg, rgba(36,36,35,1) 10%, rgba(36,36,35,1) 25%, rgba(36,36,35,0.6979768786127167) 80%, rgba(36,36,35,0) 100%); */
    position: relative;
    box-sizing: border-box;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 300
}

.search-box {
    border: solid 1px #CFDBD5;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    cursor: pointer; 
    text-decoration: none;
}

.search-box input[type="text"] {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    padding: 2px 20px 2px 5px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    background: #CFDBD5;
    color: black;
    transition: width 800ms cubic-bezier(
        0.5, -0.5, 0.5, 0.5
    ) 600ms;
}

.search-box input[type="text"]:focus {
    outline: none;
}

.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown)
{
    width: 200px;
    transition: width 800ms cubic-bezier(
        0.5, -0.5, 0.5, 1.5
    );
}

.search-box input[type="text"]:focus + span,
.search-box input[type="text"]:not(:placeholder-shown) + span
{
    bottom: 1px;
    right: 3px;
    transition: bottom 300ms ease-out 800ms,
    right 300ms ease-out 800ms;
}

.search-box input[type="text"]:focus + span::after,
.search-box input[type="text"]:not(:placeholder-shown) + span::after
{
    top: 0;
    right: 10px;
    opacity: 1;
    transition: top 300ms ease-out 1100ms, right 300ms ease-out 100ms opacity 300ms ease 1100ms;
}

.search-box span {
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -13px;
    right: -15px;
    transition: bottom 300ms ease-out 300ms right 300ms ease-out 300ms;
}

.search-box span::before, .search-box span::after {
    content: " ";
    height: 20px;
    border-left: solid 5px #fecc00;
    position: absolute;
    transform: rotate(-45deg);
}

.search-box span::after {
    transform: rotate(45deg);
    opacity: 0;
    top: -20px;
    right: -10px;
    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
